<div class="card statTile col-xs-4">
  <div class="card-body">
    <h4 class="card-title">{{adventurer.name}}</h4>
    <h6 class="card-subtitle mb-2">Health: {{adventurer.health}}</h6>
    <h6 class="card-subtitle mb-2">Armor Class: {{adventurer.armor}}</h6>
    <h6 class="card-subtitle mb-2">Current Exp: {{adventurer.xp}}</h6>
    <h6 class="card-subtitle mb-2">Renown: {{adventurer.renown}}</h6>
    <h6 class="card-subtitle mb-2">Gold: {{adventurer.currency}}</h6>
    <h6 class="card-subtitle mb-2">Strength: {{adventurer.player_class.str}} | Dexterity: {{adventurer.player_class.dex}}</h6>
    <h6 class="card-subtitle mb-2">Constitution: {{adventurer.player_class.con}} | Wisdom: {{adventurer.player_class.wis}}</h6>
    <h6 class="card-subtitle mb-2">Intelligence: {{adventurer.player_class.int}} | Charisma: {{adventurer.player_class.cha}}</h6>
    <h6 class="card-subtitle mb-2">Equipment: {{adventurer.weapon.name}} | Damage: {{adventurer.weapon.dice}}d{{adventurer.weapon.sides}}</h6>
  </div>
</div>
